#projects_wrapper {
    display: flex;
    align-items: left;
    height: 100vh;
    width: 100%;
    flex-direction: column;
    padding: 2rem;
}


#projects {
    display: flex;
    justify-content: center;
}


#projects_flex {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10rem;
    padding: 10rem;
}

.card {
    width: 250px !important;
    height: 400px !important;
    perspective: 1000px;
    position: relative;
    border-radius: 15px;
    box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.03);
    cursor: pointer;
    border-radius: 50px  !important;
}

.card h5{
    font-size: larger;
}

.card-flipper {
    position: relative;
    width: 100%;
    height: 100%;
    transition: transform 1s;
    transform-style: preserve-3d;
}

.card:hover .card-flipper {
    transform: rotateY(180deg);
}

.card-front,
.card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 2rem;
    gap: 2rem;
    border-radius: 15px;
    backface-visibility: hidden;
    background: white;
    border-radius: 50px !important;
}

.card-front {
    color: #333;
    font-size: 2rem;
}

.card-back {
    color: #333;
    font-size: 1.2rem;
    line-height: 1.5;
    text-align: center;
    transform: rotateY(180deg);
}

.btn {
    margin-top: 1rem;
    padding: 0.5rem 1rem;
    color: #fff;
    background-color: #007BFF;
    border: none;
    border-radius: 5px;
    text-decoration: none;
}

.card_logo {
    width: 5rem;
    height: 5rem;
}

@media only screen and (max-width: 600px) { 
    @media screen and (max-width: 800px) {
        #projects_flex {
            flex-direction: column;
            gap: 2rem;
            padding: 1rem;
        }
    
        .card {
            width: 80% !important;
            height: 350px !important;
            margin: 1rem auto;
        }
        #projects_wrapper {
            margin: 0rem;
            padding: 0rem;
        }
    }
}