#projects_wrapper {
    display: flex;
    align-items: left;
    height: 1000px;
    width: 100%;
    flex-direction: column;
}


#projects {
    height: 58px;
    display: flex;
    justify-content: center;
}


#projects_flex {
    padding-top: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem

}

.card{
    z-index: 1000;
}