#about_wrapper {
    display: flex;
    align-items: left;
    height: 856px;
    width: 100%;
    flex-direction: column;
}

#about {
    height: 58px;
    border-top: solid;
    display: flex;
    justify-content: center;
    font-size: 5px;
}


