#home_wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 800px;
    width: 100%;
    flex-direction: column;
    border-top: solid;
}

#home {
}


h1 {
    font-family: 'Courier New', Courier, monospace;
}
