#home_wrapper {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh !important;
    width: 100%;
    flex-direction: column;
    border-top: solid;
    scroll-snap-type: mandatory;
    background-color: var(--color-home);
}

.scrollNext {
    position:absolute;
    bottom: 0;
    font-size:larger;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: var(--color-text)
}

body {
    font-size:large;
}


.title_text {
    font-family: 'Courier New', Courier, monospace;
    color: var(--color-text)
}

.intro {
    color: var(--color-text)
}



