#home_wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100%;
    flex-direction: column;
    border-top: solid;
    scroll-snap-type: mandatory;
}

.scrollNext {
    position:absolute;
    bottom: 0;
    font-size:larger;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}

body {
    font-size:large;
}


h1 {
    font-family: 'Courier New', Courier, monospace;
}
