.wrapper {
display: grid;
place-content: center;
font-family:Georgia, 'Times New Roman', Times, serif;
font-size: 50px;
font-weight: 500;
}
  
.wrapper > div {
grid-area: 1/1/-1/-1;
}

.top {
    clip-path: polygon(0% 0%, 100% 0%, 100% 48%, 0% 58%);
    color: var(--color-text);
}
.bottom {
    clip-path: polygon(0% 60%, 100% 50%, 100% 100%, 0% 100%);
    background: -webkit-linear-gradient(var(--color), var(--color-text));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    transform: translateX(-0.02em);
}

@media only screen and (max-width: 600px) {
    .wrapper {
        font-size: 20px;
        padding-bottom: 30px;
    }
} 
  