.nav {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
    position: sticky;
    top : 0;
    flex-wrap: nowrap;
    z-index: 10000;
}


.left {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size:large;
    flex-direction: row;
}

.logo {
    font-size: 56px;
    color: var(--color-text);
}
.right {
    display: flex;
    justify-content: center;
    align-items: center;
}

#resume {
    font-family:'Courier New', Courier, monospace;
    text-decoration: none;
    font-size: 25px;
    color: var(--color-text);
    border:3px solid var(--color-text); 
    font-weight: 300;
    padding-left: 0.5em;
    padding-right: 0.5em;
}


/* CSS */
.button-shaded {
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  letter-spacing: 2px;
  text-decoration: none;
  text-transform: uppercase;
  color: var(--color-text);
  cursor: pointer;
  border: 3px solid;
  padding: 0.25em 0.5em;
  box-shadow: 1px 1px 0px 0px, 2px 2px 0px 0px, 3px 3px 0px 0px, 4px 4px 0px 0px, 5px 5px 0px 0px;
  position: relative;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-shaded:active {
  box-shadow: 0px 0px 0px 0px;
  top: 5px;
  left: 5px;
}


@media only screen and (max-width: 600px) {
    .left {
        font-size:small;
        align-self: flex-start;
    }
    
    .logo {
        font-size: 25px;
    }
    .button-shaded {
        font-size: 6px;
        letter-spacing: 1px;
        align-self: flex-start;
    }
    #resume {
        font-size: 7px;
    }
}


