#title {
    font-size: 50px;
}

.dark {
    background-color: darkslategrey;
    --color: black;
    --color-text: white;
    --color-home: #C6C0A5
}

.light {
    background-color:antiquewhite;
    --color: white;
    --color-text: black;
    --color-home: cornsilk;
}


html {
    scroll-snap-type: y mandatory;
}

section {
    scroll-snap-align: start;
}


@media only screen and (max-width: 600px) {
    #title {
        font-size: 20px;
    }
} 

